body{
	height:100%;
	margin:0;
}
container{
	width:940px;
}
a{
	color: #F15922;
}
a:hover{
	color: #221F1F;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
	position: relative;
}
.brand img:hover{
	background-image:url(../img/web/logo-hover.png);
}
.navbar .nav > li > a {
  color: #000000;
}
.navbar li:hover{
	background:#eeeeee;
}
.dropdown-menu > li > a:hover{
	background:#F15922;
}

/* Form
-------------------------------------------------- */
textarea, select,
input[type="text"],
input[type="password"]
{
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* Signup
-------------------------------------------------- */
.narrow {
	max-width: 300px;
}
.narrow_long {
	max-width: 480px;
}
.narrow, .narrow_long {
	padding: 19px 29px;
	margin: 50px auto 0px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
		 border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		 box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/* Post
-------------------------------------------------- */
#nt, #reward{
	font-size:16px;
	padding:12px 15px;
	margin-bottom:0px;
}

/* Task
-------------------------------------------------- */
.box {
	margin: 20px 0 0;
	padding: 0;
	-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
		-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
			box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.box > li {
	display: block;
	margin: 0 0 -1px;
	padding: 14px;
	border: 1px solid #e5e5e5;
}
.box > li:hover,
.box > li > a:hover {
	color:#F15922;
	background:#eee;
}
.box > li:first-child {
	-webkit-border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
}
.box > li:last-child {
	-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
			border-radius: 0 0 6px 6px;
}
.box > .active {
	position: relative;
	z-index: 2;
	padding: 15px;
	border: 0;
	color: #ffffff;
	background-color: #F15922;
}
.box > .active:hover,
.box > .active > a,
.box > .active > a:hover {
	background-color: #F15922;
}

/* Footer
-------------------------------------------------- */
.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 50px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}





.img-brand{
	width:188px;
}
.nav-collapse .nav{
	padding:13px 0;
}




#dashboard .box{
	background:#eee;
	padding:20px 0;
	text-align:center;
}

#paid {
	padding: 15px;
	text-align:center;
	background-color: #eee;
	-webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
			 border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
			 box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.text-header {
  font-weight: bolder;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  border-bottom: #eee 1px solid;
}

#info, #map, #qa, #runner, #feedback, #share, #picture, #experience {
	margin-top: 30px;
}

.noline{
	border-bottom:none;
	margin-bottom:0px;
}
.nav-menu{
	padding-top: 3px;
	font-weight:bolder;
}

#target .span4{
	text-align:center;
	padding:10px 0 20px 0;
}

/* Welcome
-------------------------------------------------- */
#task_wall{
	margin-bottom:30px;
}

#task_wall .media{
  border-bottom:1px #eee solid;
  margin-bottom: -20px;
  padding:15px 10px 10px 10px;
}
#task_wall .media:hover {
  background:#fbfbfb;
}

.video{
  height:210px;
  padding:10px;
  background:#000;
	-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
		-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
			box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
	.marketing .span4 + .span4 {
		margin-top: 40px;
	}
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	background: #F79700;
}

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel .item {
	height: 400px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	padding: 0px;
	margin-top: 100px;
}
.carousel-caption h1{
	margin: 0 0 20px 0;
	line-height: 1.25;
	color: #fff;
}
.carousel-caption .btn {
	margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {
	.carousel .item {
		height: 400px;
	}
}

@media (max-width: 767px) {
	.carousel {
		margin-left: -20px;
		margin-right: -20px;
	}
	.carousel-caption {
		width: 65%;
		padding: 0 70px;
		margin-top: 100px;
	}
	.carousel-caption h1 {
		font-size: 30px;
	}
	.carousel-caption iframe{
		margin-top:20px;
	}
}

/* Map
-------------------------------------------------- */
#mapContainer {
 float: left;
 width: 60%;
}
#mapContainer img {
 max-width: none;
}

#mapContainer label {
 width: auto;
 display:inline;
}

#mapContainer .media {
  width:350px;
  height:150px;
}

#sideMenu{
	width:40%;
	float:right;
}

#sideContainer {
 list-style-type: none;
 padding-top: -5px;
 margin: 0;
 /*float: right;*/
 overflow: auto;
}
#sideContainer li{
  padding:10px 0;
}
#sideContainer li:first-child{
	margin-top:-10px;
}

#sideContainer .media{
  padding:10px;
  border-bottom:1px #eee solid;
  margin-bottom: -20px;
}
#sideContainer .media:hover {
  background:#fbfbfb;
}

.bounty{
  padding:10px;
  text-align:center;
  background:#eee;
}

@media (min-width: 768px) and (max-width: 979px) {
  #mapContainer, #sideMenu{
	  margin:0;
  }
  body{
	  margin-left:auto;
	  margin-right:auto;
  }
}

@media (max-width: 767px) {
	#mapContainer{
	  display:none;
	}
	#sideMenu{
	  width:100%;
	  float:none;
	  padding-top:-10px;
	}
}